*{ box-sizing: border-box; }
body{
	margin: 0;
	padding: 0;
	font-family: 'Inter',arial,sans-serif;
	font-size: 16px;
	display: flex;
}
#header{ 
	width: 20%;
	background-color: #222831;
	position: sticky;
	top: 0;
	left: 0;
	overflow: auto;
	height: 100vh;
}
#header>section h1{ 
	margin: 0; 
	color: white;
}
#header>section{
	padding: 20px;
}
#header ul{
	margin: 0;
	padding: 15px;
	list-style-type: none;
}
#header li a{ 
	text-decoration: none;
	color: white;
	display: block;
	padding: 12px;
}
#header nav .dropdownList { padding-right: 0; }
#header li a:hover{ 
	background-color: #40454d; 
	border-radius: 5px;
}
.dropdownList{ display: none; }
main{ 
	width: 80%;
	padding: 0 25px;
	color: #233047;
	background-color: rgba(13, 13, 13, 0.08)
}
.tugas{
	background-color: #ff4f4f;
	border-radius: 5px;
	margin-top: 5px;
	padding: 8px;
	color: white;	
}
.tugas > p{ margin: 0; }
.syntax{
	overflow: auto !important;
	border-radius: 5px;
}
.image_contoh{
	display: block;
	margin: 0 auto;
	width: 50%;
}
.javascript_contoh{
	width: 100%;
	height: 250px;
}
.testingCode a:hover{
	color: orange;
}
footer{
	padding-top: 10px;
	text-align: right;
}
/*class tambahan*/
.show{ display: block !important; }
@media screen and (min-width: 1000px){

}
@media screen and (max-width: 768px){
	#header{ width: 30%; }
	main{ 
		width: 70%; 
		padding: 0 20px;
	}
}
@media screen and (max-width: 576px){
	body{
		direction: flex;
		flex-direction: column;
	}
	#header{ 
		width: 100%; 
		height: 100%;
		position: relative;
	}
	#header section h1{
		text-align: center;
	} 
	main{ width: 100%; }
	.image_contoh{ width: 100%; }
}
